parameters:
    facebook.app_id:
    facebook.app_secret:
    instagram.app_token:
    youtube.api_key:
    linkedin.client_id:
    linkedin.client_secret:
    linkedin.redirect_url:
    twitter.fetch_per_page: 200
    db.name:
    db.host:
    db.username:
    db.password:
    pdf.base_url:
    report.base_url:
