parameters:
    app.locale: en
    date.locale: en-GB
    facebook.app_id:
    facebook.app_secret:
    instagram.app_token:
    youtube.api_key:
    linkedin.client_id:
    linkedin.client_secret:
    linkedin.redirect_url:
    twitter.fetch_per_page: 200
    domain.name: britishcouncil
    email.login: /@britishcouncil\.[\.a-z]{2,5}$/i
    db.name:
    db.host:
    db.username:
    db.password:
    pdf.base_url:
    report.base_url:
    recaptcha.site_key:
    recaptcha.secret:
    favicon.name:
