$colour-twitter: #4099FF;
$colour-twitter-light: #63B3FF;
$colour-facebook: #3B5998;
$colour-facebook-light: #8b9dc3;
$colour-sina-weibo: #e6162d;
$colour-sina-weibo-light: #ed4255;
$colour-youtube: #e52d27;
$colour-youtube-dark: #b31217;
$colour-instagram: #3f729b;
$colour-instagram-dark: #386589;
$colour-linkedin: #007bb5;
$colour-linkedin-dark: #005882;

$colour-twitter-text: white;
$colour-facebook-text: white;
$colour-sina-weibo-text: white;
$colour-youtube-text: white;
$colour-instagram-text: white;
$colour-linkedin-text: white;
