$colour-accent: #2ba6cb;
$colour-background: #0a3542;
$colour-nav-background: #0071bc;
$colour-nav-active-hover: $colour-accent;
$colour-dark: #051b21;
$colour-tabs: #4e869f;
$colour-tab-active: #2ba6cb;
$colour-highlight: #0f70a3;
$colour-footer: #0f70a3;
$colour-download-button: #0071bc;
$colour-download-section: #fff;
$colour-country: #009600;
$colour-country-light: #00bb00;
$colour-group: #960000;
$colour-group-light: #bb0000;
$colour-text: white;
$colour-border: white;
$colour-button-text: white;
$colour-button-background: transparent;
