$colour-accent: #a0c814;
$colour-background: #f8f8f6;
$colour-nav-background: #929a9e;
$colour-link: #a0c814;
$colour-link-highlight: #88b318;
$colour-nav-active-hover: $colour-accent;
$colour-dark: #051b21;
$colour-tabs: #4e869f;
$colour-tab-active: #5f676b;
$colour-highlight: #c6c6c6;
$colour-footer: #5f676b;
$colour-download-button: $colour-accent;
$colour-download-section: #fff;
$colour-country: #009600;
$colour-country-light: #00bb00;
$colour-group: #960000;
$colour-group-light: #bb0000;
$colour-text: #656d71;
$colour-border: #656d71;
$colour-border-setback: #656d71;
$colour-button-text: white;
$colour-chart-axis: #656d71;
$colour-chart-numbers: #656d71;
$colour-text-setback: #8d9599;
$colour-button-background: #7d7d7c;
