@import 'variables';
@import 'mixins';
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: $colour-background;
  letter-spacing: 0.03rem;
}

h1, h2, h3, h4{
  color: $colour-text;
}

a{
  color: $colour-link;
}
a:hover, a:focus{
  color: $colour-link-highlight;
}

#feedback {
  position: fixed;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right top 0;
  top: 150px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  z-index: 100;

  button {
    margin-bottom: 0;
    background-color: $colour-highlight;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: bold;
    z-index: 1001;
  }

}

#modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 999;
}

#feedback-form {
  position: relative;
  width: 800px;
  margin: 100px auto;
  background-color: $colour-background;
  padding: 15px;

  h2 {
    color: white;
    border-color: white;
  }

  textarea {
    height: 100px;
    margin-bottom: 15px;
  }

  .button-group > li {
    margin: 0;
    float: none;
  }

  .button-group button {
    border: 1px solid #fff;
  }

}

abbr {
  border-bottom: 1px dashed #999;
}

#footer {
  height: 100px;
  background-color: $colour-footer;
  padding: 20px;
  margin-top: 20px;

  .navigation {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .navigation > a,
  .navigation > span {
    color: #f2f2f2;
    color: rgba(255, 255, 255, 0.7);

    span:hover,
    span:focus {
      text-decoration: underline;
      color: rgba(255, 255, 255, 0.9);
    }

    &:before,
    &:before {
      content: " | ";
    }

    &:first-child:before,
    &:first-child:before {
      content: none;
    }
  }
}

#loginWrapper {
  margin-top: 50px;
  position: relative;

  legend {
    font-weight: bold;
    padding-bottom: 10px;
    color: #999;
  }

  h2.page-title {
    margin-top: 40px;
  }

  .top-bar {
    background: transparent;
    text-align: center;
  }

  .title-area {
    float: none;
    display: inline-block;
  }

  .title-area li.name h1 a {
    width: 200px;
    margin: 0;
  }
  #password-strength{
    margin-top: 5px;
    border: none;
    background-color: transparent;
    &.secondary .meter{
      background-color: yellow;
    }
  }
}

.right {
  float: right;
}

#status-overlay {
  position: absolute;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
}

.loader-shield {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
}

.loader {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  margin: 1rem auto;
}

.loader-shield.dead,
.loader.dead {
  display: none;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.site-title-link {
  float: left;
}

.title-area li.name h1 a {
  background: url('../img/#{$site-logo}') center center no-repeat;
  background-color: $colour-logo-background;
  background-size: contain;
  height: 45px;
  width: 118px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.help-text {
  max-width: 0;
  transition: max-width .7s ease-in-out;
  overflow: hidden;
  background-color: $colour-nav-background;
  color: white;
  position: absolute;
  left: 16px;
  top: 16px;
  border-radius: 10px;
  border-top-left-radius: 0;
  font-family: 'Open Sans', sans-serif;

  p {
    width: 255px;
    padding: 10px;
  }

  &.open {
    max-width: 255px;
  }

}

.help-text-toggle {
  position: absolute;
  top: 6px;
  left: 90%;
  cursor: pointer;
  z-index: 10;
}

.homepage-title .page-title {
  padding: 30px 20px 10px 0px;
}

#page-title-container .help-text-toggle{
  top: 35%;
}

#map .help-text-toggle {
  top: 10px;
  right: 10px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 16px 0;
}

.section-title {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #f2f2f2;
  margin: 40px -20px;
  padding: 8px 20px;

  h2 {
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #666;
  }
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 13px 0;
}

#wrapper {
  min-width: 940px;
}

#main-header {
  background: #edf5f8;
  padding: 32px 42px;
  padding-top: 76px;

  h2 {
    font-size: 16px;
    color: #666;
    margin: 20px 0 0;
  }

  h1 {
    margin: 0;
    line-height: 56px;
    height: 56px;
    padding-top: 20px;
  }

  .beta-tag {
    line-height: 2;
    background: #b94a48;
    background: linear-gradient(0deg, #b94a48, #c05c5a);
    color: #efefef;
    padding: 0 118px;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 56px;
    z-index: 5;
    box-shadow: 2px 2px 4px #666;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-shadow: -2px -2px #666;
    text-shadow: -2px -2px rgba(0, 0, 0, 0.2);
  }

}

#content .content-in-header {
  margin: -20px -42px 0 -42px;
  background: #edf5f8;
  padding: 0 42px 20px 42px;
}

#title-info {
  width: 50%;
  background-color: #e2e2e2;
  display: none;

  dl {
    padding: 10px;
    margin: 0;
  }

  dd,
  dt {
    padding: 5px 0;
  }

  dd {
    margin-left: 25%;
  }

  dd p {
    margin: 0;
  }

  dt {
    float: left;
    width: 25%;
  }

}

#user-nav .dropdown-menu {
  padding: 10px;
  left: auto;
  right: 0;
  min-width: 400px;
}

.dropdown-toggle span {
  color: #191919;
}

.dropdown-menu {
  border-radius: 0 0 5px 5px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  opacity: 0.5;
  filter: alpha(opacity=30);
  content: "";
  border-top-color: #08C;
  border-bottom-color: #08C;
  margin-top: 6px;
}

.bar div {
  height: 100%;
  border-right: 1px solid $colour-border;
  background-color: #333;
}

#switcher-wrap {
  top: 50px;
  left: 50px;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

#nav {
  padding: 0 42px;
  background: $colour-nav-background;
  background: -webkit-gradient(0deg, #0f70a3, #097fcd);
  background: linear-gradient(0deg, #0f70a3, #097fcd);
  height: 56px;
  display: block;
  position: relative;
  box-shadow: 2px 2px 4px #666;

  .main {
    height: inherit;
    float: left;
  }

  .main .logo {
    height: 100%;
    float: left;
    margin-right: 10px;
  }

  .main ul {
    height: inherit;
    margin-left: 140px;
    /*padding-left: 0;*/
  }
  .extra {
    float: right;
    height: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    float: left;
    height: inherit;
    text-align: center;
    line-height: 56px;
    position: relative;

    a {
      display: block;
      padding: 0 20px;
      color: #efefef;
      text-decoration: none;
      min-width: 16px;
      text-shadow: -2px -2px #666;
      text-shadow: -2px -2px rgba(0, 0, 0, 0.2);
    }

    &.enabled:hover a,
    &.active a {
      background-color: $colour-nav-background;
    }
    &.disabled a {
      color: #999;
    }

    &.parent ul {
      padding: 0;
      position: absolute;
      display: none;
      background-color: $colour-nav-background;
      min-width: 140%;
      right: 0;
      box-shadow: 2px 2px 4px #666;
      z-index: 10;
    }

    &.child {
      min-width: 100%;
      width: auto;
      text-align: left;
    }

    &.child:hover a {
      text-decoration: underline;
    }

    &.parent:hover ul,
    &.parent ul:hover {
      display: block;
    }

  }

  .notab {
    padding-top: 6px;
    border: 0;
    border-bottom: 1px solid #bbb;
  }

}

@media all and (max-width: 1200px) {
  #nav .extra li span.label {
    display: none;
  }
}

@media all and (min-width: 1420px) {

    .top-bar-section{

        .dropdown li a{
            font-weight: 300;
        }

        .icon-large:before{
            font-size: 22px;
            padding-right: 3px;
        }

        .text{
            font-size: 16px;
            font-weight: 300;
        }
        li:not(.has-form) a:not(.button){
            padding: 20px 30px 20px
        }

        li.active:not(.has-form) a:not(.button){
            padding: 20px 30px 20px
        }

        > ul > li > a:hover > .triangle,
        > ul > li.active > a > .triangle {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 8px solid $colour-background;
         }
    }

    .top-bar{
        height: 86px;
     }

    .title-area li.name h1 a{
        height: 86px;
     }

}

@media all and (max-width: 1400px){
    .top-bar-section > ul > li > a:hover > .triangle,
    .top-bar-section > ul > li.active > a > .triangle {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 6px solid $colour-background;
        }
}

@media all and (min-width: 1025px) {
  .find-country {
    position: absolute;
  }
}

@media all and (max-width: 1024px) {
  .find-country {
    position: relative;
  }
}

@media all and (max-width: 1080px) {
  #nav li span.label {
    display: none;
  }

  #nav li:hover span.label, #nav li.active span.label {
    display: inline;
  }
}

#user-nav {
  float: right;
  z-index: 1;
}

table {
  border-collapse: collapse;

  tr td {
    border-bottom: 1px solid #F5F5F5;
  }

  &.text {
    width: 100%;
    margin-top: 10px;
  }

  &.dataTable {
    margin-top: 0;
  }

  th.options,
  td.options {
    width: 350px;
  }

  &.users .current-user {
    font-weight: bold;
  }

}

table.fixedHeader-floating{
  background-color: $colour-background;
}

table tr.average td {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  font-style: italic;
  background-color: #f2f2f2;
}

table.hoverable tr:hover td {
  background: #dde7ee;
}

form.autoConfirm {
  display: inline;
  padding: 0;
}

form .formError {
  color: #c55f5f;
}

.autoConfirm input {
  /* counter the border and padding */
  margin-top: -3px;
  margin-bottom: -3px;
}

/* Columns */

.column {
  float: left;
  width: 49%;
}

.column + .column {
  margin-left: 2%;
}

/* Charts */

#charts {
  width: 100%;
  position: relative;
}

#charts .presence-charts .presence {
  display: inline-block;
  margin-bottom: -1px;
  border: 1px solid #ccc;
  border-bottom: 0;
  background-color: #fff;
  padding: 4px 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.chart-container {
  clear: both;
  /*border: 1px solid #ccc;*/
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.chart {
  width: 75%;
  height: 250px;
  position: relative;
  float: right;
}

.health {
  width: 25%;
  float: left;
}

.downloadChart {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.chart:hover .downloadChart {
  display: block;
}

.statusesDisplay {
  clear: both;
  position: relative;

  .inner {
    width: 100%;
  }

  td {
    padding: 10px;
    border-bottom-color: #ddd;
    text-align: left;
    font-size: 0.75rem;

    p {
      font-size: 0.75rem;
    }
  }

  .button-bc-bar .button-group > li {
    float: left;
  }

  &.combined-statuses .button-bc-bar .button-group > li {
    float: none;
  }

  &.combined-statuses .picker input {
    background-color: #000;
    border: 1px solid #fff;
    height: 40px;
  }

  &.combined-statuses .filters {
    text-align: center;
  }

  &.combined-statuses .filters > div:last-child {
    margin-right: 0;
  }

  .icon-large {
    font-size: 20px;
  }

  table {
    width: 100% ! important;
  }

  .dataTables_scrollHeadInner {
    width: 100% ! important;
  }

  td.date {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
  }
  td.links {
    min-width: 200px;
    max-width: 200px;
    vertical-align: top;
    word-wrap: break-word;
  }
  td.statusPic {
    min-width: 70px;
    max-width: 70px;
    text-align: center;
    vertical-align: top;
  }
  td.message {
    vertical-align: top;

    .fa {
      vertical-align: top;
      padding: 3px 3px 3px 4px;
      background-color: #fff;
      margin-right: 5px;
      margin-top: 5px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 10px;
      color: $colour-text;
      text-transform: none;
    }
    p {
      margin: 0;
    }
    img {
      display: block;
    }
    .content {
      display: inline-block;
      width: 75%;
    }
    .engagement {
      display: inline-block;
      width: 15%;
      float: right;
      vertical-align: top;
      text-align: right;
    }
    .date {
      color: $colour-text-setback;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .first-response {
      margin-top: 15px;
      margin-left: 20px;
      h4 {
        text-transform: none;
        font-size: 0.9rem;
      }
    }
    .no-response,
    .first-response h4 span {
      color: #999;
      font-style: italic;
      font-size: 0.75rem;
    }
  }

  .dataTables_info {
    position: absolute;
    top: 0;
    right: 30px;
    color: $colour-text;
  }

  .dataTable p.more {
    float: right;
    font-size: 10px;
    visibility: hidden;
  }

  .dataTable tr:hover p.more {
    visibility: visible;
  }

  td.statusPic img {
    width: 50px;
    height: 50px;
    background-size: 100%;
    border: 3px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    &.facebook-actor {
      background: url(../img/facebook-placeholder.png) no-repeat center center;
    }
  }

  &.combined-statuses .table-container {
    width: 80%;
    margin: 1rem auto;
  }

}

/* DataTables */

/* hide datatables until fully loaded, to avoid jerky loading */
table.dtable {
  display: none;
}

.dataTables_wrapper {
  .dataTables_processing {
    top: 10px;
    @include gradient-horizontal-three-colors($colour-background, rgba(255, 255, 255, 0.9), $colour-background);
    font-weight: bold;
    height: auto;
    padding: 20px;
    margin-top: -10px;
    z-index: 10;
  }
}

table.dtable.dataTable {
  display: table;
}

.dataTables_filter {
  margin-bottom: 10px;
}

#search-table {
  min-width: 320px;
  .dataTables_filter,
  .dataTables_filter label {
    margin: 0;
  }
}

.dataTable {

  .sorting,
  .sorting_asc,
  .sorting_desc {
    cursor: pointer;
    background-position: center right;
    background-repeat: no-repeat;
    *cursor: hand;
    padding-right: 18px;
  }
  .sorting {
    background-image: url(../img/sort_both.png);
  }
  .sorting_asc {
    background-image: url(../img/sort_asc.png);
  }
  .sorting_desc {
    background-image: url(../img/sort_desc.png);
  }

  thead th:active,
  thead td:active {
    outline: none;
  }
}

.data {
  float: left;
  clear: none;
  overflow-y: scroll;
  margin-left: 4px;

  ul {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }

  li {
    padding: 2px;
    border: 1px solid #eee;
    margin: 2px;
    background: #eee;
  }

  li.off {
    background: #fff;
  }

  li.latest {
    border-color: #6c6;
  }

  li:hover {
    border-color: #999;
  }

  .toggle {
    cursor: pointer;
  }

}

#mentions-data {
  height: 505px;
}

#trend-data {
  height: 250px;
}

.ranked-topics .title {
  font-weight: bold;
  padding: 5px;
}

.ranked-topics {
  float: left;
  clear: none;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  color: hsl(0, 100%, 50%)
}

.geolocated {
  background: url(../img/world.png) no-repeat 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
}

.area .marker,
.area input,
.area .add,
.area .remove {
  float: left;
  clear: none;
  margin-right: 10px;
}

.area .add,
.area .remove {
  width: 16px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 0 center;
  cursor: pointer;
}

.area .add {
  background-image: url(../img/add.png);
}

.area .remove {
  background-image: url(../img/delete.png);
}

.area .marker {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  opacity: 0.5;
}

.area .marker.marker-1 {
  background-color: #00a;
}

.area .marker.marker-2 {
  background-color: #0a0;
}

.area .marker.marker-3 {
  background-color: #a00;
}

.area .marker.marker-4 {
  background-color: #0aa;
}

.area .marker.marker-5 {
  background-color: #a0a;
}

.area .marker.marker-6 {
  background-color: #aa0;
}

.area .marker.marker-7 {
  background-color: #aaa;
}

.area .marker.marker-8 {
  background-color: #006;
}

.area .marker.marker-9 {
  background-color: #060;
}

.area .marker.marker-10 {
  background-color: #600;
}

#preset-regions {
  float: none;
  display: inline;
}

#popup-holder {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;

  .error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    min-height: 100px;
    margin-left: -150px;
    margin-top: -50px;
    padding: 20px;
    background-color: #e4e4e4;
    border: 1px solid #ccc;
  }

  .error-popup h2 {
    margin: 0;
    margin-bottom: 16px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 16px;
  }

  .error-popup p {
    margin: 0;
  }

}

form.management button.add-item {
  visibility: hidden;
}

.none-found {
  display: none;
}

.loading {
  background: url(../img/ajax-loader.gif) no-repeat center center;
}

/* geo map and key */

#map {
  width: auto;
  position: relative;
}

#geo-map {
  /*margin-right: 200px;*/
}

.close {
  position: absolute;
  top: 6px;
  right: 6px;
}

.close a {
  color: #666;
}

.entity-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;

  li {
    margin: 3px 0;
  }
}

.tabs-content #info .entity-list li {
  float: left;
  margin-right: 10px;
}

.key {
  top: 200px;
  position: absolute;
  width: 200px;
  border: 4px solid #01a6e6;
  border-radius: 4px;
  padding: 20px;
  display: none;

  &.selected {
    display: block;
  }
}

/* Slider & Date */

#map-date .range-slider {
    width: auto;
  margin: 35px 0 20px;
  height: 2px;
  border: none;
  background: $colour-text;

  .range-slider-active-segment {
    height: 100%;
    background: $colour-text;
  }
  .range-slider-handle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: -7px;
    background: $colour-accent;
  }

}

#range-help {
    top: 0;
    left: 95%;

}

/* health box next to chart */

.health h3 {
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: -24px;
  background-color: #fff;
  color: #888;

}

.health .fieldset {
  border: 1px solid #ccc;
  margin: 72px 15% 0;
  text-align: center;
  position: relative;
  padding: 20px 10px;
  background-color: #ddd;
}

.health .fieldset .legend {
  margin: 0;
  padding: 0 10px;
  position: absolute;
  display: inline-block;
  top: -8px;
  left: 10px;
  font-weight: normal;
  font-size: 12px;
  color: #555;
  border: 1px solid #aaa;
  background: #d6d6d6;
}

.health .fieldset.hidden,
.health .fieldset .legend.hidden {
  display: none;
}

.health .fieldset .value {
  font-size: 30px;
  margin: 0;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.health .fieldset .value .separator {
  text-shadow: none;
  margin: 0 10px;
}

.health p .small {
  font-size: 20px;
}

.health .target {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

.health .target table {
  margin-top: 10px;
}

.health .target table th,
.health .target table td {
  padding: 2px 6px;
  vertical-align: top;
}

.health .target table th {
  text-align: right;
}

.health .target table td {
  font-weight: normal;
}

/* group_editAction #added-presences */

#added-presences {
  margin: 10px 0;
  padding: 0;

  li {
    list-style: none;
    margin: 5px;
    display: inline-block;

    span.icon-li {
      display: none;
    }
  }
}

/* presences */

.entity {
  &.twitter .icon-large {
    color: $colour-twitter;
  }

  &.instagram .icon-large {
    color: $colour-instagram;
  }

  &.linkedin .icon-large {
    color: $colour-linkedin;
  }

  &.youtube .icon-large {
    color: $colour-youtube;
  }

  &.facebook .icon-large {
    color: $colour-facebook;
  }

  &.sina_weibo .icon-large {
    color: $colour-sina-weibo;
  }

  &.country .icon-large {
    color: $colour-country;
  }

  &.group .icon-large {
    color: $colour-group;
  }
}

$social-media: twitter instagram linkedin youtube sina_weibo facebook;

@each $type in $social-media {
  a.presence.#{$type} .icon-large,
  .icon-#{$type}-sign {
    color: #FFF;
  }
}

/* link box */

.link.box {
  display: block;
  list-style: none;
  margin: 5px 0;

  a {
    padding: 2px 7px 2px 3px;
  }

  a,
  a:visited,
  a:link {
    display: inline-block;
    background-color: #ddd;
    color: $colour-text;
    cursor: pointer;
  }

  &.split {
    a + a {
      margin-left: 1px;
    }

    a.first {
      padding: 2px 7px 2px 3px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    a.last {
      padding: 3px 5px 2px 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &.facebook a {
    background-color: $colour-facebook-light;
    color: $colour-facebook-text;

    &:hover,
    &:focus {
      background-color: $colour-facebook;
    }
  }

  &.twitter a {
    background-color: $colour-twitter-light;
    color: $colour-twitter-text;

    &:hover,
    &:focus {
      background-color: $colour-twitter;
    }
  }

  &.instagram a {
    background-color: $colour-instagram;
    color: $colour-instagram-text;

    &:hover,
    &:focus {
      background-color: $colour-instagram-dark;
    }
  }

  &.linkedin a {
    background-color: $colour-linkedin;
    color: $colour-linkedin-text;

    &:hover,
    &:focus {
      background-color: $colour-linkedin-dark;
    }
  }

  &.youtube a {
    background-color: $colour-youtube;
    color: $colour-youtube-text;

    &:hover,
    &:focus {
      background-color: $colour-youtube-dark;
    }
  }

  &.sina_weibo a {
    background-color: $colour-sina-weibo-light;
    color: $colour-sina-weibo-text;

    &:hover,
    &:focus {
      background-color: $colour-sina-weibo;
    }
  }

  &.country a {
    background-color: $colour-country-light;

    &:hover,
    &:focus {
      background-color: $colour-country;
    }
  }

  &.group a {
    background-color: $colour-group-light;

    &:hover,
    &:focus {
      background-color: $colour-group;
    }
  }
}

li.link.box {
  padding: 0;
}

/* badges */

.badges .pdflink{
  margin-bottom: 15px;
}

.badges .pdflink ul li a{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#badges {;
}

.grid.justify {
  text-align: justify;
  width: 100%;
}

.grid.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.grid.justify > div {
  display: inline-block;
}

.badge.box {
  width: 20%;
  border: 1px solid #0a95ce;
  padding: 10px;
  background-color: #fff;

  h3 {
    margin: 0;
    color: #666;
  }
  h4 {
    color: #666;
  }
  .bar {
    height: 12px;
    min-width: 100px;
    background-color: #e8e8e8;
  }
  .score.ranking .bar {
    background-color: #0a95ce;
  }
  .score {
    float: right;
    width: 45%;
  }
  .bar .barline {
    width: 0;
    background-color: #ef5078;
  }
  .score.ranking {
    float: left;
    .barline {
      background-color: #e8e8e8;
    }
    .text {
      color: #666;
      font-size: 18px;
    }
    .number {
      color: #0a95ce;
      font-size: 38px;
    }
    .denominator {
      white-space: nowrap;
    }
  }
  .score.overall-score .text {
    font-size: 24px;
    color: #ef5078;
  }
  .score.overall-score .number {
    font-size: 38px;
    padding-right: 4px;
  }

}

/* ul tabs */

#content ul.tabs {
  padding-bottom: 0;
  list-style: none;
  height: 42px;
  border-bottom: 2px solid $colour-tabs;
  border-top: 2px solid $colour-tabs;
  background-color: #fff;
  margin-bottom: 10px;
}

ul.tabs li {
  width: auto;
  float: left;
  padding: 2px 16px;
  height: 38px;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  color: #444;
  font-weight: bold;
  position: relative;
  top: -2px;
  border-bottom: 2px solid $colour-tabs;
  border-top: 2px solid $colour-tabs;

  &.active {
    cursor: default;
    background-color: #c3e9fe;
    color: $colour-tabs;
    border-bottom-color: #c3e9fe;
  }

  &.fl-right {
    float: right;
  }
}

/* domains */

/* todo: style these properly */
.domain-link .toggle-expand {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.domain-link .toggle-expand:before {
  content: ">";
}

.domain-link .toggle-expand.open:before {
  content: "<";
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* body styles */

body {
  font-family: 'Open Sans', sans-serif;
  color: $colour-text-setback;
}

body.indexController.indexAction,
body.errorController.errorAction {
  color: $colour-text !important;
}

/* foundation styles */
.top-bar,
.top-bar.expanded .title-area,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li,
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: $colour-nav-background;
}

.top-bar {
  margin-bottom: 0.5rem;
}

.top-bar-section > ul > li > a:hover > .triangle,
.top-bar-section > ul > li.active > a > .triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: -8px;
}

.top-bar-section {
    > ul > li > a {
        position: relative;
        letter-spacing: 0;
    }
    .dropdown li:not(.has-form):not(.active):hover > a:not(.button){
        background: $colour-highlight;
    }
    ul li:hover:not(.has-form) > a{
        background: $colour-nav-background;
    }
    li:not(.has-form) a:not(.button):hover {
        background: $colour-nav-background;
    }
    li.active:not(.has-form) a:not(.button){
      background: $colour-accent;
    }
    li.active:not(.has-form) a:not(.button):hover{
      background: $colour-nav-active-hover;
    }
}


.dropdown >li:not(.active) > a,
.top-bar-section > ul > li:not(.active) > a > span {
    opacity: 0.6;
}

.dropdown >li:not(.active) > a:hover,
.top-bar-section > ul > li:not(.active) > a:hover > span {
    opacity: 1;
}

.bd-btm {
  border-bottom: 1px solid $colour-border;
}

.bd-top {
  border-top: 1px solid $colour-border;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: $colour-highlight;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid $colour-highlight;
}

h2.page-title {

    height: 72px;
    display: table-cell;
    vertical-align: bottom;
    border-bottom: 0px;
    color: $colour-text;
    border-color: $colour-border;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: $colour-text;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  padding: 0.25rem 0;
  border-bottom: 1px solid $colour-border;
  text-transform: uppercase;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: $colour-text;
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0.25rem 0;
  text-transform: uppercase;
}

#model-tabs-content #info h4.campaign-name,
#model-tabs-content #info h4.presence-name {
  font-size: 1.5rem;
  margin-bottom: 10px;

  .sm-flag {
    height: 34px;
  }
}

.presence-handle{
  opacity: 0.5;
}

/* Badge CSS */

.badge-main {
  margin-bottom: 3rem;
  /*margin-top: 2.4rem;*/
}

.badge-main .badge-score,
.badge-main .score-value {
  text-align: right;
}

.badge-main h2 {
  display: none;
}

.badge-rank h3,
.badge-score h3 {
  border-bottom: none;
}

.rank-value,
.score-value {
  font-size: 4rem;
  color: #476871;
  line-height: 1;
  margin-bottom: 1rem;
}

.numerator {
  color: $colour-text;
}

.numerator span {
  vertical-align: super;
  font-size: 2rem;
}

.badge-small .rank-value {
  font-size: 3rem;
}

.badge-small .badge-score {
  position: relative;
}

.badge-small .score-value {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.badge-small .score-bar {
  height: 0.25rem;
  background: #000;
  margin-bottom: 0.75rem;
}

.badge-small .score-bar div {
  height: 100%;
}

.badge-small .numerator span {
  font-size: 1.4rem;
}

.badge-small .denominator {
  display: none;
}

.badge-metrics {
  list-style: none;
  margin-left: 0;

  li {
    white-space: nowrap;
    overflow: hidden;
    padding: 0.8rem 0;
    font-size: 0.8rem;
    text-overflow: ellipsis
  }
}

.badge-presences {
  list-style: none;
  margin-left: 0;
  color: $colour-text;

  .fa.fixed-width {
    width: 20px;
    text-align: center;
  }
}

.badge-presences-buttons {
  margin-bottom: 1rem;
}

.badge-presences-buttons [class*="block-grid-"] > li {
  padding: 0.5rem 0.625rem;
}

.badge-presences-buttons li a.active h4,
.badge-presences-buttons li a:hover h4 {
    color: $colour-highlight;
}

.badge-presences-buttons li a.active .score-value,
.badge-presences-buttons li a:hover .score-value {
  color: $colour-text;
}

.badge-description {
  padding-top: 10px;
}

/* New Pickers */

#pickers {
  text-align: right;
}

#pickers select,
#pickers input {
  margin: 0;
}

.picker + .picker {
  margin-left: 20px;
}

.picker {
  display: inline-block;
  vertical-align: top;
}

.date-filter-container {
  display: inline-block;
  margin-right: 20px;
}

.date-filter-container label {
  text-align: right;
  color: $colour-text;
  font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: $colour-text !important;
}

.text-set-back{
  color: $colour-text-setback;
}

.social-monitor-multi-select-box {
  text-align: left;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;

  label {
    font-size: 0.8rem;
    font-weight: 300;
    color: $colour-text-setback;
    text-align: left;
  }

  select {
    width: 200px;
  }

  button {
    font-weight: 300;
  }

  .ms-parent {

    button.ms-choice.disabled {
      background-color: black;
    }

    .ms-drop {

      .ms-select-all {
        padding: 5px 8px;
        border-bottom: 1px solid white;
      }

      li {
        clear: both;

        label {
          white-space: normal;
          display: inline-block;
          margin: 2px 0;

          input[type=checkbox],
          input[type=radio] {
            float: left;
            margin-top: 2px;
            margin-bottom: 0;
          }

          span {
            padding-left: 20px;
            display: block;
            clear: none;
          }
        }
      }

      button:hover {
        background-color: #0872BA;
      }
    }
  }

  .selected-summary {
    margin-top: 16px;
    padding-right: 10px;
  }

}

.statusesController .ui-daterangepickercontain .ui-daterangepicker {
  background-color: #000;
  border: 1px solid $colour-border;
}

.model-header .page-icon {
  float: left;
  font-size: 2rem;
  margin-top: 13px;
  padding-top: 3px;
  border-radius: 5%;
  width: 50px;
  text-align: center;
}

.model-header .page-icon.fa {
  font-size: 2.5rem;
}

.model-header .page-icon.white-background {
  background-color: white;
}

.model-header .picker {
  display: block;
  padding-left: 55px;
  clear: none;
}

.picker label {
  font-size: 0.8rem;
  font-weight: 300;
  color: $colour-text;
  opacity: 0.8;
  text-align: left;
}

.chart-description {
  margin-top: 10px;
}

#chart-picker {
  min-width: 221px;
}

#chart-picker:focus,
#date-picker:focus {
  border-color: $colour-border;
  background-color: $colour-dark;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

/* date picker */

body .ui-daterangepickercontain .ui-daterangepicker {
  border: 1px solid $colour-border;
  background-color: $colour-dark;
  background-color: rgba(0, 0, 0, 0.5);
  color: $colour-text;
}

body .ui-daterangepicker ul {
  width: 206px;
}

body .ui-daterangepicker li a {
  color: $colour-text;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

body .ui-daterangepicker li.ui-state-hover,
body .ui-daterangepicker li.ui-state-active {
  background-image: none;
  background-color: $colour-dark;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;

  a,
  a:hover,
  a:link,
  a:visited {
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }
}

/* New Charts */

.c3 svg {
  font-family: 'Open Sans', sans-serif;
}

.c3 svg g.c3-focused {
  z-index: 100;
}

#new-chart {
  width: 100%;
  height: 500px;
}

#new-chart .c3-axis {
  fill: #fff;
  fill: $colour-chart-numbers;
}

#new-chart .c3-axis line,
#new-chart .c3-axis path {
  stroke: $colour-chart-axis;
}

#new-chart .c3-lines path {
  stroke-width: 3;
}

#new-chart .c3-tooltip-container {
  z-index: 1;
}

#new-chart .c3-tooltip-container table th,
#new-chart .c3-tooltip-container table td {
  color: #000;
  text-align: left;
}

#new-chart .c3-legend-item text {
  fill: $colour-text;
}

#new-chart-values {
  padding: 20px 10px 20px 50px;
}

#new-chart-values table {
  color: $colour-text;
  width: 100%;
  background-color: $colour-background;
}

#new-chart-values table tr {
  background-color: $colour-background;
}

#new-chart-values table th {
  color: $colour-text;
  border-left: 1px solid $colour-border;
  border-bottom: 1px solid $colour-border-setback;
  transition: opacity .4s ease-in-out;
  font-weight: normal;
  background-color: $colour-background;
}

#new-chart-values table td {
  color: $colour-text;
  border-right: 1px solid $colour-border;
  border-bottom: 1px solid $colour-border-setback;
  transition: opacity .2s ease-in-out;
  font-weight: bold;
  background-color: $colour-background;
}

#new-chart-values table th.header {
  border: 1px solid $colour-border;
  background-color: $colour-background;
}

#new-chart-values span.color-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 3px;
}

#new-chart-values .series-toggle {
  cursor: pointer;
}

#new-chart-values .inactive {
  opacity: .4;
}

#new-chart-values .size-1 th {
  width: 75%;
}

#new-chart-values .size-1 td {
  width: 25%;
}

#new-chart-values .size-2 th {
  width: 35%;
}

#new-chart-values .size-2 td {
  width: 15%;
}

#new-chart-values .size-3 th {
  width: 23%;
}

#new-chart-values .size-3 td {
  width: 10%;
}

.fa.white-background {
  background-color: white;
  border-radius: 5%;
  padding-top: 2px;
}

.fa.fa-twitter {
  color: $colour-twitter;
}

.fa.fa-instagram {
  color: $colour-instagram;
}

.fa.fa-linkedin {
  color: $colour-linkedin;
}

.fa.fa-youtube {
  color: $colour-youtube;
}

.fa.fa-facebook {
  color: #335795;
}

.fa.fa-weibo {
  color: $colour-sina-weibo;
}

.fa.fa-white {
  color: #fff;
}

.badge-metrics > li > span.fa {
  color: inherit;
}

/* bc buttons */

.button-bc {
  display: block;
  color: $colour-button-text !important;
  background-color: $colour-button-background;
  border: 1px solid $colour-border;
  padding: 0.25rem 1rem;
  transition: background-color 400ms ease-out, border-color 400ms ease-out;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.button-bc.primary {
  background-color: $colour-button-background;
}

.button-bc.inline {
  display: inline-block;
}

.button-group > li > .button-bc {
  border-color: #fff;
}

.button-bc:hover,
.button-bc.active {
  color: #fff;
  background-color: $colour-highlight;
  border-color: $colour-highlight;
}

table .cell-options ul {
  margin: -2px 0 0 0;
}

table .cell-options .button-bc {
  padding: 2px 5px;
  margin-top: 2px;
}

table .cell-handle .missing {
  text-decoration: line-through;
}

.button-bc-bar {
  margin: 2rem 0;
}

.pdflink {
    margin-top: 0;
    margin-bottom: 0;
}

.button-bc-bar.pdflink {
  margin-bottom: 0;
}

.button-bc-bar .row.bk-dark {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.button-bc-bar .button-group {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.button-bc-bar .button-group > li {
  margin: 0.3rem 0 0.3rem 0.5rem;
  float: none;
  vertical-align: middle;
}

.button-bc-bar .button-group > li > * {
  margin-top: 0;
  margin-bottom: 0;
}

.button-bc-bar .button-group > li > select {
  height: 35px;
}

.button-bc-bar .button-group > li > select option {
  background-color: $colour-dark;
}

/* forms */
#search-table input,
form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea,
form select,
form select:hover {
  margin: 0;
  border: 1px solid #fff;
  padding: 0.25rem 1rem;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: auto;
  line-height: 1.6;
  color: #fff;
}

form select:hover,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.picker input,
.picker select,
form select {
  background-image: url(../img/down-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
}

form.edit input,
form.edit select,
form.management input,
form.management select {
  margin-bottom: 1rem;
}

#search-table input:focus,
form select:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
  border-color: $colour-highlight;
  transition: border-color 200ms ease-in, box-shadow 200ms ease-in;
}

.picker input,
.picker select {
  color: #fff;
  border: 1px solid #44656f;
  background-color: $colour-dark;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  outline: none;
}

/* tables */

table,
table thead,
table body,
table tr td,
table tr th {
  background-color: transparent;
  border-color: transparent;
}

table.dataTable thead th, table.dataTable thead td{
  border-bottom-color: $colour-border;
}

table thead {
  border-bottom: 1px solid $colour-border;
}

table thead tr th,
table tbody tr td {
  color: $colour-text;
  font-size: 1rem;
}

table tbody tr td {
  text-align: center;
  vertical-align: top;
}

table tbody tr td.left-align {
  text-align: left;
}

table tr:nth-of-type(even) {
  background: inherit;
}

table tr.even,
table tr.alt {
  background: #000;
  background: rgba(255, 255, 255, 0.1);
}

table .fa-circle,
table .icon-large {
  color: #D06959;
}

table .fa-circle.value-ok,
table .icon-large.value-ok {
  color: #FFFF50;
}

table .fa-circle.value-good,
table .icon-large.value-good {
  color: #84af5b;
}

table .icon-background {
  background-color: #EEE;
  border-radius: 50%;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
}

table .icon-background .icon-large {
  position: absolute;
  top: 4px;
  left: -1px;
}

table td a,
table td a:link,
table td a:visited {
  color: $colour-text;
}

table td a:hover {
  color: #ddd;
}

table td ul {
  margin-left: 0;
  list-style: none;
  color: $colour-text;
}

table td ul li a,
table td ul li a:hover {
  color: $colour-text;
}

#search-result-label{
  display: none;
}

.find-country{
    padding: 10px;
    z-index: 9;
    input{
        border: 2px solid #fff;
    }
    label{
        font-size: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.date-range-text{
  font-size: 0.85rem;
  opacity: 0.9;
}

#date-range-text-header{
  font-size: 0.8rem;
}

#map-util{
  margin-bottom: 20px;
}

.country-list {
  list-style: none;
  color: $colour-text;
  margin-left: 0;
  background: $colour-background;
  padding: 2.5rem 1rem 1rem;
  border: 1px solid $colour-border;
  z-index: 10;
  display: none;
}

.country-list li {
  border-bottom: 1px solid $colour-border;
  clear: both;
  margin-top: .5rem;
  position: relative;
}

.country-list li a {
  color: $colour-text;
  display: inline-block;
  width: 80%;
}

.country-list li .score {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: -8px;
  vertical-align: baseline;
}

#campaign-view-country-list {
  margin-top: 10px;
}

#campaign-view-country-list li{
  float: left;
  margin-right: 10px;
}

/* form styles */

form label,
form p.label {
  font-size: 1rem;
  color: $colour-text;
  margin: 0.5rem 0;
  background-color: transparent;
  padding: 0;
}

form label.radio.withFormHint {
  display: inline;
}

$countries: TN TO TR TT TV TW TZ UA UG US UY UZ VA VC VE VG VI VN VU WF WS XK YE YT ZA ZM ZW AD AE AF AG AI AL AM AN AO AQ AR AS AT AU AW AX AZ BA BB BD BE BF BG BH BI BJ BL BM BN BO BR BS BT BW BY BZ CA CC CD CF CG CH CI CK CL CM CN CO CR CU CV CW CX CY CZ DE DJ DK DM DO DZ EC EE EG EH ER ES ET EU FI FJ FK FM FO FR GA GB GD GE GG GH GI GL GM GN GQ GR GS GT GU GW GY HK HN HR HT HU IC ID IE IL IM IN IQ IR IS IT JE JM JO JP KE KG KH KI KM KN KP KR KW KY KZ LA LB LC LI LK LR LS LT LU LV LY MA MC MD ME MF MG MH MK ML MM MN MO MP MQ MR MS MT MU MV MW MX MY MZ NA NC NE NF NG NI NL NO NP NR NU NZ OM PA PE PF PG PH PK PL PN PR PS PT PW PY QA RO RS RU RW SA SB SC SD SE SG SH SI SK SL SM SN SO SR SS ST SV SY SZ TC TD TF TG TH TJ TK TL TM;

.sm-flag {
  height: 24px;
  width: 22px;
  background-position: 0 center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 4px;

  /* smaller versions were generated using imagemagick: `mogrify -crop 60x40+2+12 -resize 22x15 +repage -path ./flags-small flags/*.png` */
  @each $country in $countries {
    &.flag-#{$country} {
      background-image: url("../img/flags-small/#{$country}.png");
    }
  }
}

table .sm-flag {
  height: 17px;
}

.flag {
  position: relative;
  top: -2px;
  img {
    height: 22px;
  }
}

td.countries {
  text-align: left;
}

td.countries a {
  cursor: pointer;
}

.entity-list-toggle {
  cursor: pointer;

  &:hover {
    color: #ddd;
  }
}

.inlineLabels #assigned {
  display: block;
  list-style: none;
}

.inlineLabels #assigned li {
  float: left;
  margin-right: 10px;
}

.inlineLabels #assigned li a {
  background-color: #0f70a3;
  height: 30px;
  line-height: 27px;
  -moz-transition: background-color .7s;
  -webkit-transition: background-color .7s;
  transition: background-color .7s;
  color: #fff;
}

.inlineLabels #assigned li a span {
  color: #fff;
}

.inlineLabels #assigned li:hover a {
  background-color: #2ba6cb;
}

.inlineLabels #assigned li a.last {
  margin-left: -1px;
  top: 1px;
  position: relative;
}

#country-stats {
  background-color: $colour-background;
  position: relative;
}

#country-stats {

    h3{
        height: 72px;
        display: table-cell;
        vertical-align: bottom;
        border-bottom: 0px;
        overflow: hidden;
    }

    .badge-score > h4{
        border-top: 1px solid $colour-border;
    }
}

#country-stats .loading-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
}

#country-stats .presence-list h4 {
  text-transform: none;
}

.dataTable th {
  font-weight: normal;
}

.dataTables_scrollHead table {
  margin-bottom: 0;
}

.dataTables_scrollBody thead {
  border: 0;
}

.dataTable thead select {
  display: inline-block;
  width: auto;
  float: right;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: white;
  padding: 0 0 0 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.dataTable thead select option {
  background: $colour-dark;
  color: white;
  font-family: FontAwesome;
}

.dataTable thead select option.all,
.dataTable thead select[data-selected=""] {
  font-family: 'Open Sans', sans-serif;
}

.dataTable thead select option.facebook,
.dataTable thead select[data-selected="facebook"] {
  color: $colour-facebook;
  font-family: FontAwesome;
}

.dataTable thead select option.twitter,
.dataTable thead select[data-selected="twitter"] {
  color: $colour-twitter;
  font-family: FontAwesome;
}

.dataTable thead select option.sina_weibo,
.dataTable thead select[data-selected="sina_weibo"] {
  color: $colour-sina-weibo;
  font-family: FontAwesome;
}

.dataTable thead select option.linkedin,
.dataTable thead select[data-selected="linkedin"] {
  color: $colour-linkedin;
  font-family: FontAwesome;
}

.dataTable thead select option.youtube,
.dataTable thead select[data-selected="youtube"] {
  color: $colour-youtube;
  font-family: FontAwesome;
}

.dataTable thead select option.instagram,
.dataTable thead select[data-selected="instagram"] {
  color: $colour-instagram;
  font-family: FontAwesome;
}

/* tabs on right-hand-side of presence/campaign page */
#model-tabs,
#homepage-tabs {
  border-bottom: 1px solid $colour-border;
  margin-bottom: 10px !important;
}

#model-tabs dd {
  margin-bottom: -3px !important;
}

#homepage-tabs dl {
  display: inline-block;
}

#homepage-tabs dl:before,
#homepage-tabs dl:after {
  display: none;
}

#homepage-tabs dd {
  margin-bottom: -8px !important;
}

#model-tabs dd a,
#homepage-tabs dd a {
  background: none;
  color: $colour-text;
  text-transform: uppercase;
  opacity: 0.5;
  outline: none;
  padding: 35px 0 10px;
  width: 100px;
  text-align: center;
  border-bottom: 5px solid transparent;
}

#homepage-tabs dd a {
  width: 150px;
}

#model-tabs dd.active a,
#homepage-tabs dd.active a {
  border-bottom-color: $colour-tab-active;
  opacity: 1;
  font-weight: bold;
}

#model-tabs dd a:hover,
#homepage-tabs dd a:hover {
  opacity: 1;
}

#model-tabs-content .content {
  padding-top: 0;
}

#model-tabs-content .content .button-bc-bar {
  margin: 0;
}

ul.blockLabels {
  margin-left: 0;
  list-style: none;
}

.kpi-download {
  text-align: center;
  padding-top: 21px;
}

.kpi-download > p{
  color: $colour-download-section;
}

.kpi-download-button {
    a{
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $colour-download-button;
        border: 1px solid transparent;
    }
    a:hover{
        border: 1px solid #FFF;
    }
    a:focus{
        color: #FFF;
    }

}

/* messages */
ol.messages {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 10px;
  right: 10px;
  width: 30%;
  z-index: 1002;

  li {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    /*background: #fcf8e3 url(../img/msg-close.png) no-repeat right center;*/
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
    position: relative;
  }

  .close {
    position: absolute;
    top: 12px;
    right: 6px;
    cursor: pointer;
  }

  li.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }

  li.danger,
  li.error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    position: relative;
  }

  li.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
  }

  li a {
    text-decoration: underline;
  }
}
/* Config Screen*/

form#settings {
  fieldset + fieldset {
    margin-top: 80px;
  }

  .config-description {
    width: 66%;
  }

  .config-description ul {
    list-style: circle;
    width: 100%;
    float: none;
    margin-left: 20px;
  }

  .config-description ul li {
    list-style: circle;
    width: 100%;
    margin: 0;
  }

  input {
    margin-bottom: 5px;
  }

  .field {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

#audience-rates th {
  color: #fff;
}

table a.view-link:hover {
  color: #ddd;
}

[data-badge-bar] {
  transition: width .5s ease-in-out, background-color .5s ease-in-out;
}

[data-badge-score] {
  transition: color .5s ease-in-out;
}

#uncheck-all {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#content .empty-table {
  margin-bottom: 20px;
}

#presence-edit-form {
  .presence-types .fa {
    width: 20px;
    text-align: center;
  }

  .presence-handle-hints .formHint {
    display: none;
  }
}

.recaptcha-wrapper {
  margin-top: 1rem;
}