@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    background-color: #0a3542;
}

abbr {
	border-bottom: 1px dashed #999;
}

#footer {
    height: 100px;
    background-color: #0f70a3;
    padding: 20px;
}

#footer .navigation {
    text-align: center;
    margin: 0;
    padding: 0;
}

#footer .navigation>a, #footer .navigation>span {
    color: #f2f2f2;
    color: rgba(255,255,255,0.7);
}

#footer .navigation>a .label:hover,
#footer .navigation>a .label:focus {
    text-decoration: underline;
    color: rgba(255,255,255,0.9);
}

#footer .navigation>a:before, #footer .navigation>span:before {
    content: "  / ";
}

#footer .navigation>a:first-child:before, #footer .navigation>span:first-child:before {
    content: none;
}

#loginWrapper {
	margin-top: 100px;
    position: relative;
}

#loginWrapper .login-title {
    position: absolute;
    top: -58px;
    left: -19px;
}

#loginWrapper h1 {
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-top: 0;
	border-bottom: 1px solid #CCCCCC;
}

#loginWrapper legend {
	font-weight: bold;
	padding-bottom: 10px;
	color: #999;
}

#api-status {
	float: right;
	clear: right;
	cursor: default;
}

.right {
	float: right;
}

#status-overlay {
	position: absolute;
	margin-top: 20px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 10px;
}

.loader-shield {
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
}
.loader {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}
.loader-shield.dead,
.loader.dead {
	display: none;
}

fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}

.site-title-link {
	float: left;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 56px;
    background: url('../img/British-Council-stacked-negative.png') center center no-repeat;
    background-size: contain;
    color: #065284;
    width: 120px;
    height: 56px;
    margin-left: 10px;
}

.site-title span {
    display: none;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 20px 0;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	margin: 16px 0;
}

.section-title  {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f2f2f2;
    margin: 40px -20px;
    padding: 8px 20px;
}
    .section-title h2 {
        font-size: 26px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        color: #666;
    }

h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 13px 0;
}

/* links */
/*a:link, a:visited, span.link {*/
	/*color: #4083a9;*/
	/*outline: none;*/
	/*text-decoration: none;*/
	/*cursor: pointer;*/
/*}*/

/*a:hover, span.link:hover {*/
	/*text-decoration: none;*/
	/*color: #105b86;*/
/*}*/

#wrapper {
    min-width: 940px;
}

#main-header {
	background: #edf5f8;
	padding: 32px 42px;
	padding-top: 76px;
}

#content .content-in-header {
    margin: -20px -42px 0 -42px;
    background: #edf5f8;
    padding: 0 42px 20px 42px;
}

#main-header h2 {
	font-size: 16px;
	color: #666;
	margin: 20px 0 0;
}

#main-header h1 {
	margin: 0;
    line-height: 56px;
    height: 56px;
    padding-top: 20px;
}

#main-header .beta-tag {
    line-height: 2;
    background: #b94a48;
    background: linear-gradient(0deg, #b94a48, #c05c5a);
    color: #efefef;
    padding: 0 118px;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 56px;
    z-index: 5;
    box-shadow: 2px 2px 4px #666;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    text-shadow: -2px -2px #666;
    text-shadow: -2px -2px rgba(0,0,0,0.2);
}

#title-info {
    width: 50%;
    background-color: #e2e2e2;
	display: none;
}

#title-info dl {
    padding: 10px;
	margin: 0;
}

#title-info dd,
#title-info dt {
    padding: 5px 0;
}

#title-info dd {
    margin-left: 25%;
}

#title-info dd p {
    margin: 0;
}

#title-info dt {
    float: left;
    width: 25%;
}

#user-nav .dropdown-menu {
	padding: 10px;
	left: auto;
	right: 0;
	min-width: 400px;
}

.dropdown-toggle span {
	color: #191919;
}

.dropdown-menu {
	border-radius: 0 0 5px 5px;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
	opacity: 0.5;
	filter: alpha(opacity = 30);
	content: "";
	border-top-color: #08C;
	border-bottom-color: #08C;
	margin-top: 6px;
}



.bar div {
	height: 100%;
	border-right: 1px solid #fff;
	background-color: #333;
}

#switcher-wrap {
	top: 50px;
	left: 50px;
}

#nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}

#nav {
	padding: 0 42px;
	background: #065284;
    background: -webkit-gradient(0deg, #0f70a3, #097fcd);
    background: linear-gradient(0deg, #0f70a3, #097fcd);
	height: 56px;
	display: block;
	position: relative;
    box-shadow: 2px 2px 4px #666;
}

#nav .main {
    height: inherit;
    float: left;
}

#nav .main .logo {
    height: 100%;
    float: left;
    margin-right: 10px;
}

#nav .main ul {
    height: inherit;
    margin-left: 140px;
    /*padding-left: 0;*/
}
#nav .extra {
    float: right;
    height: inherit;
}

#nav ul {
	list-style: none;
	margin: 0;
}

#nav li {
	float: left;
    height: inherit;
    text-align: center;
    line-height: 56px;
    position: relative;
}

#nav li a {
    display: block;
    padding: 0 20px;
    color: #efefef;
    text-decoration: none;
    min-width: 16px;
    text-shadow: -2px -2px #666;
    text-shadow: -2px -2px rgba(0,0,0,0.2);
}

#nav li.enabled:hover a,
#nav li.active a {
    background-color: #065284;
}
#nav li.disabled a {
    color: #999;
}

@media all and (max-width: 1200px) {
    #nav .extra li span.label {
        display: none;
    }
}

@media all and (max-width: 1080px) {
    #nav li span.label {
        display: none;
    }

    #nav li:hover span.label, #nav li.active span.label {
        display: inline;
    }
}

#nav li.parent ul {
    padding: 0;
    position: absolute;
    display: none;
    background-color: #065284;
    min-width: 140%;
    right: 0;
    box-shadow: 2px 2px 4px #666;
    z-index: 10;
}

#nav li.child {
    min-width: 100%;
    width: auto;
    text-align: left;
}

#nav li.child:hover a {
    text-decoration: underline;
}

#nav li.parent:hover ul, #nav li.parent ul:hover {
    display: block;
}

#nav .notab {
	padding-top: 6px;
	border: 0;
	border-bottom: 1px solid #bbb;
}

#nav li.active a {
}

#user-nav {
	float: right;
	z-index: 1;
}

table {
	border-collapse: collapse;
}

table.text {
	width: 100%;
	margin-top: 10px;
}

table.dataTable {
	margin-top: 0;
}

table th.options,
table td.options {
	width: 350px;
}

table.users .current-user {
	font-weight: bold;
}

table tr td {
	border-bottom: 1px solid #F5F5F5;
}

table tr.average td {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	font-style: italic;
    background-color: #f2f2f2;
}

table.hoverable tr:hover td {
	background: #dde7ee;
}

form.autoConfirm {
	display: inline;
	padding: 0;
}

.autoConfirm input {
	/* counter the border and padding */
	margin-top: -3px;
	margin-bottom: -3px;
}

/* Columns */

.column {
	float: left;
	width: 49%;
}

.column + .column {
	margin-left: 2%;
}

/* Charts */

#charts {
    width: 100%;
    position: relative;
}

#charts .presence-charts .presence {
	display: inline-block;
	margin-bottom: -1px;
	border: 1px solid #ccc;
	border-bottom: 0;
	background-color: #fff;
	padding: 4px 6px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.chart-container {
	clear: both;
	/*border: 1px solid #ccc;*/
	padding: 20px;
	margin-bottom: 20px;
    position: relative;
}

.chart {
    width: 75%;
	height: 250px;
    position: relative;
	float:right;
}

.health {
    width: 25%;
	float: left;
}

.downloadChart {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}

.chart:hover .downloadChart {
	display: block;
}

.statusesDisplay {
	clear: both;
	position: relative;
}

.statusesDisplay .inner {
	width: 100%;
}

.statusesDisplay td {
	padding: 10px;
	border-bottom-color: #ddd;
}

.statusesDisplay td.date {
	min-width: 100px;
	max-width: 100px;
	text-align: center;
	background: #efefef;
}
.statusesDisplay td.links {
	min-width: 200px;
	max-width: 200px;
	vertical-align: top;
	word-wrap: break-word;
}
.statusesDisplay td.statusPic {
	min-width: 70px;
	max-width: 70px;
	text-align: center;
	vertical-align: top;
}
.statusesDisplay td.message {
	width: 10000px;
	vertical-align: top;
}
.statusesDisplay td.message h4 {
	margin-top: 0;
	margin-bottom: 10px;
}
.statusesDisplay td.message p {
	margin: 0;
}
.statusesDisplay td.message .no-response {
	color: #999;
	font-style: italic;
}

.statusesDisplay .dataTables_info {
	position: absolute;
	top: 20px;
	right: 0;
}

.statusesDisplay .dataTable p.more {
	float: right;
	font-size: 10px;
	visibility: hidden;
}

.statusesDisplay .dataTable tr:hover p.more {
	visibility: visible;
}

.statusesDisplay .dataTable thead th {
	border-bottom: 1px solid black;
}

.statusesDisplay td.statusPic img {
	width: 50px;
	height: 50px;
	background-size: 100%;
	border: 3px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.statusesDisplay td.statusPic img.facebook-actor {
	background: url(../img/facebook-placeholder.png) no-repeat center center;
}

/* DataTables */

/* hide datatables until fully loaded, to avoid jerky loading */
table.dtable {
	display: none;
}
table.dtable.dataTable {
	display: table;
}

.uniForm .dataTables_filter input[type=text] {
	padding: 4px 2px;
	border: 1px solid #aaa;
	background: #fff;
}

.dataTables_filter {
	margin-bottom: 10px;
}

.dataTable .sorting,
.dataTable .sorting_asc,
.dataTable .sorting_desc {
	cursor: pointer;
	background-position: center right;
	background-repeat: no-repeat;
	*cursor: hand;
	padding-right: 18px;
}

.dataTable .sorting { background-image: url(../img/sort_both.png); }
.dataTable .sorting_asc { background-image: url(../img/sort_asc.png); }
.dataTable .sorting_desc { background-image: url(../img/sort_desc.png); }

.dataTable thead th:active,
.dataTable thead td:active {
	outline: none;
}

.data {
	float: left;
	clear: none;
	overflow-y: scroll;
	margin-left: 4px;
}

#mentions-data {
	height: 505px;
}

#trend-data {
	height: 250px;
}

.data ul {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

.data li {
	padding: 2px;
	border: 1px solid #eee;
	margin: 2px;
	background: #eee;
}

.data li.off {
	background: #fff;
}

.data li.latest {
	border-color: #6c6;
}

.data li:hover {
	border-color: #999;
}

.data .toggle {
	cursor: pointer;
}

.ranked-topics .title {
	font-weight: bold;
	padding: 5px;
}

.ranked-topics {
	float: left;
	clear: none;
	margin-right: 10px;
	border: 1px solid #ccc;
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	color: hsl(0, 100%, 50%)
}

.geolocated {
	background: url(../img/world.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 10px;
}

.area .marker, .area input, .area .add, .area .remove {
	float: left;
	clear: none;
	margin-right: 10px;
}

.area .add, .area .remove {
	width: 16px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: 0 center;
	cursor: pointer;
}
.area .add { background-image: url(../img/add.png); }
.area .remove { background-image: url(../img/delete.png); }

.area .marker {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity: 0.5;
}
.area .marker.marker-1 { background-color: #00a; }
.area .marker.marker-2 { background-color: #0a0; }
.area .marker.marker-3 { background-color: #a00; }
.area .marker.marker-4 { background-color: #0aa; }
.area .marker.marker-5 { background-color: #a0a; }
.area .marker.marker-6 { background-color: #aa0; }
.area .marker.marker-7 { background-color: #aaa; }
.area .marker.marker-8 { background-color: #006; }
.area .marker.marker-9 { background-color: #060; }
.area .marker.marker-10 { background-color: #600; }

#preset-regions {
	float: none;
	display: inline;
}

#popup-holder {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 9999;
}

#popup-holder .error-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	min-height: 100px;
	margin-left: -150px;
	margin-top: -50px;
	padding: 20px;
	background-color: #e4e4e4;
	border: 1px solid #ccc;
}

#popup-holder .error-popup h2 {
	margin: 0;
	margin-bottom: 16px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 16px;
}

#popup-holder .error-popup p {
	margin: 0;
}

form.management button.add-item {
	float: left;
	visibility: hidden;
}

form.management #assigned {
	margin-left: 66px;
	width: 50%;
}

.none-found {
	display: none;
}

.loading {
	background: url(../img/ajax-loader.gif) no-repeat center center;
}

/* geo map and key */

#map {
    width: auto;
    position: relative;
}

#map-container {

}

#geo-map {
    /*margin-right: 200px;*/
}

.close {
	position: absolute;
    top: 6px;
    right: 6px;
}

.close a {
    color: #666;
}

.entity-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.entity-list li {
    margin: 3px 0;
}

.key {
    top: 200px;
    position: absolute;
    width: 200px;
    border: 4px solid #01a6e6;
    border-radius: 4px;
    padding: 20px;
    display: none;
}

.key.selected {
    display: block;
}

.klout {
	background: url(../img/klout.png) no-repeat 0 0;
	display: inline-block;
	width: 20px;
	height: 18px;
	color: #fff;
	text-align: center;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

.klout.facebook {
    background: url(../img/facebook_engagement.png) no-repeat 0 0;
}

/* Slider & Date */

#map-date .range-slider {
    width: auto;
    margin: 10px 0 20px;
	height: 3px;
	border: none;
	background: #fff;
}
#map-date .range-slider .range-slider-active-segment {
	height: 100%;
	background: #fff;
}
#map-date .range-slider .range-slider-handle {
	height: 15px;
	top: -7px;
}

/* health box next to chart */

.health h3 {
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    top: -24px;
    background-color: #fff;
    color: #888;

}

.health .fieldset {
    border: 1px solid #ccc;
    margin: 72px 15% 0;
    text-align: center;
    position: relative;
    padding: 20px 10px;
    background-color: #ddd;
}

.health .fieldset .legend {
    margin: 0;
    padding: 0 10px;
    position: absolute;
    display: inline-block;
    top: -8px;
    left: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #555;
	border: 1px solid #aaa;
	background: #d6d6d6;
}

.health .fieldset.hidden,
.health .fieldset .legend.hidden {
	display: none;
}

.health .fieldset .value {
    font-size: 30px;
    margin: 0;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.health .fieldset .value .separator {
	text-shadow: none;
	margin: 0 10px;
}

.health p .small {
    font-size: 20px;
}

.health .target {
    font-size: 12px;
    color: #666;
    font-weight: bold;
}

.health .target table {
	margin-top: 10px;
}

.health .target table th,
.health .target table td {
	padding: 2px 6px;
	vertical-align: top;
}

.health .target table th {
	text-align: right;
}

.health .target table td {
	font-weight: normal;
}

/* buttons */

body .button.compare {
	display: none;
}

body .compare.list.empty {
	display: none;
}
body .compare.list {
    display: inline-block;
    margin: 0;
    background-color: #065284;
    color: #fff;
	border-radius: 5px;
	padding: 10px 15px;
}

body .compare.list li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}

/* group_editAction #added-presences */

#added-presences {
    margin: 10px 0;
    padding: 0;
}

#added-presences li {
    list-style: none;
    margin: 5px;
    display: inline-block;
}

#added-presences li span.icon-li {
    display: none;
}

/* presences */

.entity.twitter .icon-large { color: #4099FF; }
.entity.facebook .icon-large { color: #3B5998; }
.entity.sina_weibo .icon-large { color: #e6162d; }
.entity.country .icon-large { color: #009600; }
.entity.group .icon-large { color: #960000; }

a.presence.twitter .icon-large,
.icon-twitter-sign {
	color: #4099FF;
}

a.presence.sina_weibo .icon-large,
.icon-sina_weibo-sign {
	color: #e6162d;
}

a.presence.facebook .icon-large,
.icon-facebook-sign{
	color: #3B5998;
}

/* link box */

.link.box {
    display: block;
    list-style: none;
    margin: 5px 0;
}

li.link.box {
	padding: 0;
}

.link.box a,
.link.box a:visited,
.link.box a:link {
    display: inline-block;
	background-color: #ddd;
    color: #fff;
    cursor: pointer;
}

.link.box a {
    padding: 2px 7px 2px 3px;
}

.link.box.split a + a {
	margin-left: 1px;
}
.link.box.split a.first {
    padding: 2px 7px 2px 3px;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.link.box.split a.last {
    padding: 3px 5px 2px 5px;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.link.box.facebook a {
	background-color: #8b9dc3;
}

.link.box.facebook a:hover,
.link.box.facebook a:focus {
    background-color: #3B5998;
}

.link.box.twitter a {
    background-color: #63B3FF;
}

.link.box.twitter a:hover,
.link.box.twitter a:focus {
    background-color: #4099FF;
}

.link.box.sina_weibo a {
    background-color: #ed4255;
}

.link.box.sina_weibo a:hover,
.link.box.sina_weibo a:focus {
    background-color: #e6162d;
}

.link.box.country a {
    background-color: #00bb00;
}

.link.box.country a:hover,
.link.box.country a:focus {
    background-color: #009600;
}

.link.box.group a {
    background-color: #bb0000;
}

.link.box.group a:hover,
.link.box.group a:focus {
    background-color: #960000;
}

/* badges */

#badges {
    ;
}

.grid.justify {
    text-align: justify;
    width: 100%;
}
    .grid.justify:after {
        content:'';
        display: inline-block;
        width: 100%;
    }
    .grid.justify>div {
        display: inline-block;
    }

.badge.box {
    width: 20%;
    border: 1px solid #0a95ce;
    padding: 10px;
    background-color: #fff;

}
    .badge.box h3 {
        margin: 0;
        color: #666;
    }
    .badge.box h4 {
        color: #666;
    }
    .badge.box .bar {
         height: 12px;
         min-width: 100px;
         background-color: #e8e8e8;
     }
    .badge.box .score.ranking .bar {
        background-color: #0a95ce;
    }
    .badge.box .score {
        float: right;
        width: 45%;
    }
    .badge.box .bar .barline {
        width: 0;
        background-color: #ef5078;
    }
    .badge.box .score.ranking {
        float: left;
    }
    .badge.box .score.ranking .barline {
        background-color: #e8e8e8;
    }
    .badge.box .score.ranking .text {
        color: #666;
        font-size: 18px;
    }
    .badge.box .score.ranking .number {
        color: #0a95ce;
        font-size: 38px;
    }
	.badge.box .score.ranking .denominator {
		white-space: nowrap;
	}
    .badge.box .score.overall-score .text {
        font-size: 24px;
        color: #ef5078;
    }
    .badge.box .score.overall-score .number {
        font-size: 38px;
        padding-right: 4px;
    }

/* ul tabs */

#content ul.tabs {
    padding-bottom: 0;
    list-style: none;
    height: 42px;
    border-bottom: 2px solid #4e869f;
    border-top: 2px solid #4e869f;
    background-color: #fff;
    margin-bottom: 10px;
}

ul.tabs li {
    width: auto;
    float: left;
    padding: 2px 16px;
    height: 38px;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    color: #444;
    font-weight: bold;
    position: relative;
    top: -2px;
    border-bottom: 2px solid #4e869f;
    border-top: 2px solid #4e869f;
}

ul.tabs li.active {
    cursor: default;
    background-color: #c3e9fe;
    color: #4e869f;
    border-bottom-color: #c3e9fe;
}

ul.tabs li.fl-right {
    float: right;
}

/* domains */

/* todo: style these properly */
.domain-link .toggle-expand {
	display: inline-block;
	width: 20px;
	height: 20px;
}
.domain-link .toggle-expand:before {
	content: ">";
}
.domain-link .toggle-expand.open:before {
	content: "<";
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* body styles */

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	color: rgba(255,255,255, 0.5);
}

body.indexController.indexAction,
body.errorController.errorAction {
	color: #FFF !important;
}

/* foundation styles */
.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li,
.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
	background: #0071bc;
}

.top-bar {
    margin-bottom: 0.5rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #234a55;
}

.bd-btm {
	border-bottom: 1px solid #fff;
}

.bd-top {
	border-top: 1px solid #fff;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: #0071bc;
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1rem;
	padding: 0.25rem 0;
	border-bottom: 1px solid #0071bc;
}

h2.page-title {
	color: #fff;
	border-color: #fff;
	margin-bottom: 2rem;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 300;
	margin: 0;
	padding: 0.25rem 0;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	color: rgba(255,255,255,0.8);
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
	padding: 0.25rem 0;
	text-transform: uppercase;
}

#model-tabs-content #info h4.campaign-name,
#model-tabs-content #info h4.presence-name {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

/* Badge CSS */

.badge-main {
	margin-bottom: 3rem;
	/*margin-top: 2.4rem;*/
}

.badge-main h2 {
	display: none;
}

.badge-rank h3,
.badge-score h3 {
	border-bottom: none;
}
.rank-value,
.score-value {
	font-size: 4rem;
	color: #476871;
	line-height: 1;
	margin-bottom: 1rem;
}

.numerator {
	color: #fff;
}

.numerator span {
	vertical-align: super;
	font-size: 2rem;
}

.badge-small .rank-value {
	font-size: 3rem;
}

.badge-small .badge-score {
	position: relative;
}

.badge-small .score-value {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.badge-small .score-bar {
	height: 0.25rem;
	background: #000;
	margin-bottom: 0.75rem;
}

.badge-small .score-bar div {
	height: 100%;
}

.badge-small .numerator span {
	font-size: 1.4rem;
}

.badge-small .denominator {
	display: none;
}

.badge-metrics {
	list-style: none;
	margin-left: 0;
}

.badge-metrics li {
	white-space: nowrap;
	overflow: hidden;
	padding: 0.8rem 0;
	font-size: 0.8rem;
	text-overflow: ellipsis
}

.badge-presences {
	list-style: none;
	margin-left: 0;
	color: #fff;
}

.badge-presences-buttons {
	margin-bottom: 1rem;
}

.badge-presences-buttons [class*="block-grid-"] > li {
	padding: 0.5rem 0.625rem;
}

.badge-presences-buttons li a.active h4,
.badge-presences-buttons li a:hover h4 {
	color: #0071bc;
}

.badge-presences-buttons li a.active .score-value,
.badge-presences-buttons li a:hover .score-value {
	color: #fff;
}

.badge-description {
	padding-top: 10px;
}



/* New Pickers */


#pickers {
    text-align: right;
}
#pickers select,
#pickers input {
	margin: 0;
}

.picker + .picker {
	margin-left: 20px;
}

.picker {
    display: inline-block;
    vertical-align: top;
}

.model-header .page-icon {
	float: left;
	font-size: 2rem;
	margin-top: 16px;
	width: 50px;
	text-align: center;
}
.model-header .page-icon.fa {
	font-size: 2.5rem;
}

.model-header .picker {
	display: block;
	padding-left: 55px;
	clear: none;
}

.picker label {
    font-size: 0.8rem;
    font-weight: 300;
    color: #fff;
    color: rgba(255,255,255, 0.5);
    text-align: left;
}

.picker input,
.picker select {
    border: 1px solid #44656f;
    background-color: #051b21;
    background-color: rgba(0,0,0,0.5);
	background-image: url(../img/down-arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}


.chart-description {
	margin-top: 10px;
}

#chart-picker {
    min-width: 221px;
}

#chart-picker:focus,
#date-picker:focus {
    border-color: #fff;
    background-color: #051b21;
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}


/* date picker */

body .ui-daterangepickercontain .ui-daterangepicker {
    border: 1px solid #fff;
    background-color: #051b21;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

body .ui-daterangepicker ul {
    width: 206px;
}

body .ui-daterangepicker li a {
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

body .ui-daterangepicker li.ui-state-hover,
body .ui-daterangepicker li.ui-state-active {
    background-image: none;
    background-color: #051b21;
    background-color: rgba(0,0,0,0.1);
    border-color: transparent;
}

body .ui-daterangepicker li.ui-state-hover a,
body .ui-daterangepicker li.ui-state-hover a:hover,
body .ui-daterangepicker li.ui-state-hover a:link,
body .ui-daterangepicker li.ui-state-hover a:visited,
body .ui-daterangepicker li.ui-state-active a,
body .ui-daterangepicker li.ui-state-active a:hover,
body .ui-daterangepicker li.ui-state-active a:link,
body .ui-daterangepicker li.ui-state-active a:visited {
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}


/* New Charts */

#new-chart {
	width: 100%;
	height: 500px;
}

#new-chart .c3-axis  {
	fill: #fff;
	fill: rgba(255,255,255, 0.5);
}

#new-chart .c3-axis line,
#new-chart .c3-axis path {
	stroke: #fff;
	stroke: rgba(255,255,255, 0.2);
}

#new-chart .c3-lines path {
	stroke-width: 3;
}

#new-chart .c3-tooltip-container table th,
#new-chart .c3-tooltip-container table td {
	color: #000;
	text-align: left;
}
#new-chart .c3-legend-item text {
	fill: #fff;
}

.fa.fa-twitter {
	color: #4099FF;
}

.fa.fa-facebook {
	color: #335795;
}
.fa.fa-weibo {
	color: #e6162d;
}

/* bc buttons */

.button-bc {
	display: block;
	background-color: transparent;
	border: 1px solid #fff;
	padding: 0.25rem 1rem;
	color: #fff;
	transition: background-color 400ms ease-out, border-color 400ms ease-out;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
}
.button-bc.primary {
	background-color: #2ba6cb;
}
.button-bc.inline {
	display: inline-block;
}

.button-group > li > .button-bc {
	border-color: #fff;
}

.button-bc:hover,
.button-bc.active {
	color: #fff;
	background-color: #0071bc;
	border-color: #0071bc;
}

table .cell-options ul {
	margin: -2px 0 0 0;
}
table .cell-options .button-bc {
	padding: 2px 5px;
	margin-top: 2px;
}

.button-bc-bar {
	margin: 2rem 0;
}

.button-bc-bar .row {
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
}

.button-bc-bar .button-group {
	margin: 1rem 0;
	text-align: center;
	width: 100%;
}

.button-bc-bar .button-group > li {
	margin: 0 0.5rem;
	float: none;
}

#search-table input[type="text"],
form input[type="text"],
form select,
form select:disabled,
form select:focus,
form input[type="text"]:focus,
form input[type="password"],
form input[type="password"]:focus {
	margin: 0;
	min-width: 20rem;
	border: 1px solid #fff;
	padding: 0.25rem 1rem;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	font-size: 1rem;
	height: auto;
	line-height: 1.6;
	color: #fff;
}

form input[type="text"],
form select,
form select:disabled,
form select:focus,
form input[type="text"]:focus,
form input[type="password"],
form input[type="password"]:focus {
	margin-bottom: 1rem;
}

form select:focus,
form input[type="text"]:focus,
form input[type="password"]:focus {
	border-color: #0071bc;
	transition: border-color 200ms ease-in, box-shadow 200ms ease-in;
}

/* tables */

table,
table thead,
table body,
table tr td,
table tr th {
	background-color: transparent;
	border-color: transparent;
}

table thead {
	border-bottom: 1px solid #fff;
}

table thead tr th,
table tbody tr td {
	color: #fff;
	font-size: 1rem;
}

table tbody tr td {
	text-align: center;
	vertical-align: top;
}

table tbody tr td.left-align {
	text-align: left;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
	background: #000;
	background: rgba(255,255,255,0.1);
}

table .fa-circle {
	color: #D06959;
}

table .fa-circle.value-ok {
	color: #FFFF50;
}

table .fa-circle.value-good {
	color: #84af5b;
}

table td a,
table td a:link,
table td a:visited,
table td a:hover {
	color: #fff;
}

table td ul {
	margin-left: 0;
	list-style: none;
	color: #fff;
}

table td ul li a,
table td ul li a:hover {
	color: #fff;
}

.small-country-list {
	margin-top: 2rem;
	border-top: 1px solid #fff;
}

.small-country-list h4 {
	margin-bottom: 1rem;

}

.country-list {
	list-style: none;
	color: #fff;
	margin-left: 0;
}

.country-list li {
	border-bottom: 1px solid #fff;
	clear: both;
	margin-top: .5rem;
	position: relative;
}

.country-list li a {
	color: #fff;
}

.country-list li span {
	font-size: 1.5rem;
	position: absolute;
	right: 0;
	top: -8px;
	vertical-align: baseline;
}

/* form styles */

form select {
	margin-bottom: 1rem;
}

form label,
form p.label {
	font-size: 1rem;
	color: #fff;
	margin: 0.5rem 0;
	background-color: transparent;
}

form input {

}

.flag {
	position: relative;
	top: -2px;
}

.flag img {
	height: 22px;
}

td.countries {
	text-align: left;
}

td.countries a {
	cursor: pointer;
}

.entity-list-toggle {
	cursor: pointer;
}

#edit-region #added-presences .remove-item {
	display: none;
}

#edit-region #added-presences .link.box.split a.first {
	border-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.inlineLabels #assigned {
	display: block;
}

.inlineLabels #assigned li {
	float: left;
	margin-right: 10px;
}

.inlineLabels #assigned li a {
	background-color: #0f70a3;
	height: 30px;
	line-height: 27px;
	-moz-transition: background-color .7s;
	-webkit-transition: background-color .7s;
	transition: background-color .7s;
}

.inlineLabels #assigned li:hover a {
	background-color: #2ba6cb;
}

.inlineLabels #assigned li a.last {
	margin-left: -1px;
	top: 1px;
	position: relative;
}

#country-stats {
	min-height: 20px;
	background-color: #0a3542;
	background-position: right top;
}

.dataTable th {
	font-weight: normal;
	text-transform: uppercase;
}


/* tabs on right-hand-side of presence/campaign page */
#model-tabs,
#homepage-tabs {
	border-bottom: 1px solid #fff;
	margin-bottom: 10px !important;
}
#homepage-tabs {
	text-align: center;
}
#model-tabs dd {
	margin-bottom: -3px !important;
}
#homepage-tabs dl {
	display: inline-block;
}
#homepage-tabs dl:before,
#homepage-tabs dl:after {
	display: none;
}
#homepage-tabs dd {
	margin-bottom: -8px !important;
}
#model-tabs dd a,
#homepage-tabs dd a {
	background: none;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.5;
	outline: none;
	padding: 35px 0 10px;
	width: 100px;
	text-align: center;
	border-bottom: 5px solid transparent;
}
#homepage-tabs dd a {
	width: 150px;
}
#model-tabs dd a:hover,
#model-tabs dd.active a,
#homepage-tabs dd a:hover,
#homepage-tabs dd.active a {
	border-bottom-color: #2ba6cb;
	opacity: 1;
}
#model-tabs dd.active a,
#homepage-tabs dd.active a {
	font-weight: bold;
}

#model-tabs-content .content {
	padding-top: 0;
}


ul.blockLabels {
	margin-left: 0;
	list-style: none;
}