.axis .tick {
	stroke-width: 1px;
	stroke: #333;
	stroke-opacity: 0.4;
	shape-rendering: crispedges;
}

.axis text {
	fill: #444;
	font-size: 10px;
}

text.overLabel {
	background: #fff;
	font-size: 13px;
}
.axis .domain {
	stroke-width: 2px;
	stroke: #333;
	fill: none;
}

