.dataset path {
	stroke-width: 2px;
	fill: none;
}

.axis .tick {
	stroke-width: 1px;
	stroke: #333;
	stroke-opacity: 0.4;
	shape-rendering: crispedges;
}

.axis text {
	fill: #444;
	font-size: 10px;
}

text.overLabel {
	background: #fff;
	font-size: 13px;
}
.axis .domain {
	stroke-width: 2px;
	stroke: #333;
	fill: none;
}

circle {
	cursor: pointer;
}

.dataset rect {
	opacity: 0;
	cursor: pointer;
}

.dataset rect.hovered {
	opacity: 0.2;
}

.dataset rect.selected {
	opacity: 0.4;
}

/* Network charts */

.nodes circle {
	z-index: 0;
}

.nodes circle.highlight {
	stroke: #044;
	stroke-width: 2;
}

.links line.highlight {
	stroke-width: 1;
	stroke: #044;
	z-index: 9;
}

.links line {
	position: relative;
	z-index: 0;
	stroke-width: 1;
	stroke: #fab;
}

.nodes circle {
	fill: hsl(0, 0%, 80%);
}

.nodes circle.node_0 {
	fill: hsl(0, 100%, 20%);
}

.nodes circle.node_1 {
	fill: hsl(0, 85%, 60%);
}

.nodes circle.node_2 {
	fill: hsl(0, 70%, 70%);
}

.nodes circle.node_3 {
	fill: hsl(0, 55%, 80%);
}

.nodes circle.node_4 {
	fill: hsl(0, 40%, 80%);
}