body .ui-daterangepickercontain .ui-daterangepicker {
	margin-top: -2px;
	border-width: 1px 2px 2px;
	border-color: #24abf8;
	border-top-color: #CCCCCC;
}

body .ui-daterangepicker ul {
	width: 253px;
}

body .button-right {
	text-align: right;
}

body .button-right .button {
	margin-left: 10px;
	margin-right: 0;
}
body .button {
	background: #BBB;
	color: #fff;
	padding: 10px 15px;
	border-width: 0px;
	margin-left: 0;
	cursor: pointer;
}
body .button.add {
	background: #191919;
}

body .button:hover {
	background-color: #24abf8;
}