$site-logo: 'outlandish-logo.png';
$colour-background: #0A3542;
$colour-nav-background: #065284;
$colour-twitter: #4099FF;
$colour-twitter-light: #63B3FF;
$colour-facebook: #3B5998;
$colour-facebook-light: #8b9dc3;
$colour-sina-weibo: #e6162d;
$colour-sina-weibo-light: #ed4255;
$colour-youtube: #e52d27;
$colour-youtube-dark: #b31217;
$colour-instagram: #3f729b;
$colour-instagram-dark: #386589;
$colour-linkedin: #007bb5;
$colour-linkedin-dark: #005882;
$colour-tabs: #4e869f;
$colour-highlight: #0071bc;
$colour-country: #009600;
$colour-country-light: #00bb00;
$colour-group: #960000;
$colour-group-light: #bb0000;

$colour-dark: #051b21;